html,body {
    margin: 0;
}

.page {
    background-color: ivory;
    height: 100vh;
    text-align: center;
}

.profile-picture {
    border-radius: 100%;
    box-shadow: 5px 5px 30px 0 rgba(50,50,50,0.67);
    height: 33vh;
    margin-top: 10vh;
}

.profile-name {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0em;
    margin-top: 0.5em;
}

.profile-title {
    font-size: 1.75em;
    margin-bottom: 0em;
    margin-top: 0.25em;
}

.profile-links {
    list-style: none;
    margin: 0em;
    margin-top: 1.5em;
    padding: 0em;
}

.profile-links li {
    display: inline;
}

.profile-links li img {
    height: 7.5vh;
    margin: 0.75vw;
    opacity: 0.5;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.profile-links li img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
